@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            color: $main-color;
        }
    }
    &__menu {
        display: flex;
        align-items: flex-end;
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            li {
                margin: 0 8px;
                a:hover {
                    transition: 0.3s all;
                    color: $main-color;
                }
            }
        }
    }
}

.active {
    color: $main-color;
}

@media (max-width: 575px) {
    .app {
        &__header {
            flex-direction: column;
        }
        &__menu {
            ul {
                justify-content: start;
                margin-top: 15px;
                li {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 475px) {
    .app {
        &__header {
            h1 {
                font-size: 26px;
            }
        }
        &__menu {
            ul {
                margin-top: 10px;
                li {
                    font-size: 22px;
                }
            }
        }
    }
}